######################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
######################################################################################

/MyAccess/.vs/MyAccess/v16/Server/sqlite3
